body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  border:0;
  position: relative;
  width: 100%;
  min-width:900px;
}

/* Header styles */
#header #sequence{
	clear:both;
	float:left;
	width:100%;
    height: 200px;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.chart,
.col2,
.col3{
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 3 Column blog style settings */
.blogstyle {
	background:#eee;			/* right column background colour */
}
.blogstyle .colmid {
	right:25%;				/* width of the right column */
	background:#f4f4f4;		/* center column background colour */
}
.blogstyle .colleft {
	right:25%;				/* width of the middle column */
	background:#fff;			/* left column background colour */
}
.blogstyle .chart {
	width:46%;				/* width of center column content (column width minus padding on either side) */
	left:52%;				/* 100% plus left padding of center column */
}
.blogstyle .col2 {
	width:21%;				/* Width of left column content (column width minus padding on either side) */
	left:56%;				/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.blogstyle .col3 {
	width:21%;				/* Width of right column content (column width minus padding on either side) */
	left:60%;				/* Please make note of the brackets here:
						(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

.summaryHover{
    border:1px solid black;
}
.summaryStandard{
    border:none;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
form {
  position: absolute;
  right: 10px;
  top: 10px;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}
#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#legend {
  padding: 10px 0 0 3px;
}
#chart {
  position: relative;
}

/*the following styles are used when clicking in sunburst diagram
    to fade or brighten elements
*/
/*the following styles are used when clamping decisions by date*/

.sunFaded {
   opacity: 0.3;
}
.sunSelected {
    opacity: 1;
}
.inbound.sunSelected{
    opacity:1;
}
.inbound.sunFaded{
    opacity: 0.3;
}
.outbound{
    opacity:0;
}

/*main chart area*/
#chart path {
  stroke: #fff;
}


/*sequence area*/
#trail circle{
    fill:#fff;
    /*stroke:#000;*/
}

#sequence path {
     stroke: #000;
}
.seqLabel{
    font-size:x-small;
}
tick {
    stroke: #000;
}
#sequence text {
  fill: #000;
}
/*slider stuff*/
.active {
  stroke-width: 2px;
}
.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}
.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}
.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}
.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}
.slidertick {
    stroke: #000;
}
g.ticks{
     font-size:x-small;
}
.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}






